<!--Página de login com Bootstrap-->
<div class="row">
    <div class="col-md-4 offset-md-4">
        <!-- offset-md-4 serve para centralizar o card, o 4 é o tamanho do card, o bootstrap divide a tela em 12 partes -->
        <div class="card mt-4 mb-4">
            <!-- mt-3 serve para dar um espaçamento entre o card e o topo da tela, e o card é o container do conteúdo -->
            <div class="card-body shadow-lg">
                <!-- card-body é o corpo do card -->

                <div class="text-center">
                    <!-- text-center serve para centralizar o conteúdo -->
                    <h2>Criar conta de usuário</h2>
                    <p>Preencha o campo para criar sua conta.</p>
                </div>

                <div *ngIf="mensagemSucesso" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Sucesso!</strong> {{mensagemSucesso}}
                    <button type="button" class="btn-close" (click)="mensagemSucesso=''" aria-label="Close"></button>
                  </div>

                  <div *ngIf="mensagemErro" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Erro!</strong> {{mensagemErro}}
                    <button type="button" class="btn-close" (click)="mensagemErro=''" aria-label="Close"></button>
                  </div>

                <!--O formGroup é o formGroup que criamos no componente e o formRegister é o nome que demos para ele-->
                <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                    
                    <div class="mb-2">

                        <label>Nome do usuário</label>
                        <!-- form-control é uma classe do bootstrap para estilizar o input -->
                        <!-- formControlName é a forma de vincular o input com o formGroup -->
                        <input type="text" class="form-control" placeholder="Digite seu nome aqui."
                            formControlName="name" />

                        <!-- Vamos criar um span para exibir as mensagens de erro -->
                        <span class="text-danger" *ngIf="form.name.invalid && form.name.touched">
                            <!-- Validação para verificar se o campo está vazio -->
                            <span *ngIf="form.name.errors.required">
                                <!-- ngIf é um if do angular, o form.name.errors.required é uma validação do angular -->
                                O campo nome é obrigatório.
                            </span>
                            <!-- Validação para verificar se o nome tem no mínimo 8 caracteres -->
                            <span *ngIf="form.name.errors.minlength">
                                Por favor informe no mínimo 8 caracteres
                            </span>
                            <!--Validação para verificar se o nome ultrapassou 100 caracteres-->
                            <span *ngIf="form.name.errors?.maxlength">
                                Por favor informe menos de 100 caracteres
                            </span>
                        </span>

                    </div>

                    <div class="mb-2">

                        <label>Email de acesso:</label>
                        <!-- form-control1 é uma classe do bootstrap para estilizar o input -->
                        <!-- formControlName é a forma de vincular o input com o formGroup -->
                        <input type="email" class="form-control" placeholder="Digite seu email aqui."
                            formControlName="email" />

                        <!-- Vamos criar um span para exibir as mensagens de erro -->
                        <span class="text-danger" *ngIf="form.email.invalid && form.email.touched">
                            <!-- Validação para verificar se o campo está vazio -->
                            <span *ngIf="form.email.errors.required">
                                <!-- ngIf é um if do angular, o form.email.errors.required é uma validação do angular -->
                                O campo email é obrigatório.
                            </span>
                            <!-- Validação para verificar se o email é válido -->
                            <span *ngIf="form.email.errors?.email">
                                O email informado não é válido.
                            </span>
                        </span>

                    </div>

                    <div class="mb-2">
                        <label>Senha de acesso:</label>
                        <!-- formControlName é a forma de vincular o input com o formGroup -->
                        <input type="password" class="form-control" placeholder="Digite sua senha aqui."
                            formControlName="password" />

                        <!-- Vamos criar um span para exibir as mensagens de erro -->
                        <span class="text-danger" *ngIf="form.password.invalid && form.password.touched">
                            <!-- Validação para verificar se o campo está vazio -->
                            <span *ngIf="form.password.errors.required"> <!--Se esse erro for true exibe a mensagem de baixo-->
                                <!-- ngIf é um if do angular, o form.password.errors.required é uma validação do angular -->
                                O campo senha é obrigatório.
                            </span>
                            <!-- Validação para verificar se o password é válido -->
                            <span *ngIf="form.password.errors?.pattern">
                                Por favor, insira uma senha com no mínimo:
                                8 caracteres, uma letra maiúscula, uma letra minúscula, um número e um símbolo (por exemplo, @, #, $, %, etc.)
                            </span>
                        </span>
                    </div>

                    
                    <div class="mb-2">
                        <label>Confirme sua senha:</label>
                        <!-- formControlName é a forma de vincular o input com o formGroup -->
                        <input type="password" class="form-control" placeholder="Confirme sua senha aqui."
                            formControlName="passwordConfirmation" />

                        <!-- Vamos criar um span para exibir as mensagens de erro -->
                        <span class="text-danger" *ngIf="form.passwordConfirmation.invalid && form.passwordConfirmation.touched">
                            <!-- Validação para verificar se o campo está vazio -->
                            <span *ngIf="form.passwordConfirmation.errors.required"> <!--Se esse erro for true exibe a mensagem de baixo-->
                                <!-- ngIf é um if do angular, o form.password.errors.required é uma validação do angular -->
                                Por favor, confirme sua senha.
                            </span>
                            <!-- Validação para verificar se as senhas são iguais -->
                            <span *ngIf="form.passwordConfirmation.errors.matchPassword">
                                Senhas não conferem, por favor verifique.
                            </span>
                        </span>
                    </div>

                    <div class="mb-2 d-grid">
                        <button type="submit" class="btn btn-primary" 
                            [disabled]="!formRegister.valid"> <!--O botão só será habilitado se o formulário for válido-->
                            Realizar cadastro
                        </button>
                    </div>

                    <div class="mb-2 d-grid">
                        <a [routerLink]="['/account/login']" class="btn btn-light">
                            Já possui conta? <strong>Acesse aqui.</strong>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>